body {
    background-color: black;
    color:whitesmoke;
    margin: 0 auto;
}
    
#cabecalho {  
    position: fixed;  
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: green; 
    width: 100%;   
}

#ul_list {    
    list-style-type: none;
    position: relative; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif; 
    text-align: right;
    float: right;
    display:inline;
}

a {
    text-decoration: none;
}
    
.lado-esquerdo {
    float: left;
    padding: 5px;
    font-size: 18px;
    text-align: justify;
}

.lado_direito {
    float: right;
}

#rodape {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    }

#ol_list {
    display: block;
    }

.contato {
    text-align: right;
    }
    
