body{
   background-color:lightgreen;
   border:10px
   margin:10px;
   padding:10px;
}

#cabecalho{
   background-color:rgb(127,255,200);
   position:fixed;
}

.lado-direito{
   background-color:#fdfd96;
   float:right;
   width:30%;
}

.lado-esquerdo{
   float:left;
   width:60%;
}

.outline-title{
          display:none;
}

#rodape{
   clear:both;
}
