
body {
    text-align: center;
    background-color: rgb(170, 250, 223);
}
#cabecalho {
    text-align: center;
    position: fixed;
}
#rodape {
    font-family: arial;
    color: gray;
}
#listas1 {
    margin-top: 180px;
    border: 100px ;
    font-family: open sans;    
}
.section-1 {
    position: absolute;
    width: 100px;    
}
