#cabecalho {
    background-color: yellow;
    margin: auto;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 1;
}
#cabecalho h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 22px;
}
#cabecalho li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;

}
#cabecalho ul {
    border: 2px solid black;
    margin: 0px;
    text-align: center;
}
#cabecalho h2 {
    border: 2px solid black;
    margin: 0px;
}
body {
    background-color: green;
    position: relative;
    top: 85px;
    margin: 0px;
}
.lado-esquerdo {
    float: left;
    position: sticky;
    background-color: aqua;
    width: 20%;
    padding: 10px;
}
.lado-direito {
    float: right;
    width: 70%;
    padding: 10px;
}
#rodape {
    clear: both;
    background-color: #f18500;
    text-align: center;
}
#grupo-stunt {
    width: 10%;
    float: left;
}
#base-dupla {
    width: 10%;
    float: right;
}
#foto-partner {
    width: 10%;
    float: left;
}
h3 {
    clear: both;
}
p {
    padding: 10px;
}