body{
   background-color:rgb(127,255,159);
    }

#cabecalho{
   background-color:rgb(115,255,234);
   border: 3px solid #73AD21;   
   left: 0;
   padding:15px;
   position: sticky;
}

.outline-title{
          display:none;
       }
