body {
    background-color: #3E885B;
}
#cabecalho {
    position:fixed;
    background-color: yellow;
    width: 90%;
}
nav ul li {
    display:inline-block;
    margin: 0px 10px;
}
nav ul{
    list-style: none;   
    text-align:center;
}
#grupo-foto {
    width:100px;
    float: left;
    margin-right: 10%;
}
#rodape{
    clear: both;
    text-align: center;
    margin-top:5%;
    margin-left:auto;
    background-color: #ff0201;
    width: 100%;
}
#rodape ul{
    margin-top: 5px;
    list-style: none;
}