body {
    background-color: #3E885B;
}
#cabecalho {
    position:sticky;
    width:100%;
    backgroud-color: yellow;
}
nav ul li {
    display:inline-block;
    margin: 0px 10px;
}
nav h2{
    margin: 4px;
    display:inline-block;
}
nav ul{
    list-style: none;
    margin: 4px;
    display:block;
}
#grupo-foto {
    width:100px;
    float: left;
    margin-right: 10%;
}