body {
    background-color: #3E885B;
}
#cabecalho {
    position:fixed;
    width:100%;
}
nav ul li {
    display:inline-block;
    margin: 0px 10px;
}
nav h2{
    margin: 4px;
    display:inline-block;
}
nav ul{
    margin: 4px;
    display:inline-block;
}